<a href="https://colab.research.google.com/github/Shivaram17/AccEngine_PythonDemoCodes/blob/main/1009Concat_filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# union of datasets
import pandas as pd

clients1 = {'clientFirstName': ['Jon','Maria','Bruce','Lili'],
            'clientLastName': ['Smith','Lam','Jones','Chang'],
            'country': ['US','Canada','Italy','China'],
            'c': ['UK','Germany','Brazil','Japan']
           }

df1 = pd.DataFrame(clients1, columns= ['clientFirstName', 'clientLastName','country'])


clients2 = {'clientFirstName': ['Bill','Jack','Elizabeth','Jenny'],
            'clientLastName': ['Jackson','Green','Gross','Sing'],
            'c': ['UK','Germany','Brazil','Japan']
           }

df2 = pd.DataFrame(clients2, columns= ['clientFirstName', 'clientLastName','country'])

union = pd.concat([df1, df2], ignore_index=True)
print (union)

  clientFirstName clientLastName country
0             Jon          Smith      US
1           Maria            Lam  Canada
2           Bruce          Jones   Italy
3            Lili          Chang   China
4            Bill        Jackson     NaN
5            Jack          Green     NaN
6       Elizabeth          Gross     NaN
7           Jenny           Sing     NaN

In [4]:

# Create pandas DataFrame
import pandas as pd
import numpy as np
technologies = {
    'Lg': [1,2,4,4],
    'Courses':["Spark","PySpark","Hadoop","Python"],
    'Fee' :[22000,25000,np.nan,24000],
    'Duration':['30day',None,'55days',np.nan],
    'Discount':[1000,2300,1000,np.nan]
          }
technologies2 = {
    'Lg': [1,3,4,4],
    'Courses':["Spark","PySpark","Hadoop","Python"],
    'Fee' :[22000,25000,np.nan,24000],
    'Duration':['30day',None,'55days',np.nan],
    'Discount':[1000,2300,1000,np.nan]
          }
df = pd.DataFrame(technologies)
df1 = df.Lg.unique()
we = pd.DataFrame(technologies2)
l  = we["Lg"].tolist()
for i in l:
  # print(i)
  if i in df1:
    we.drop(we[we['Lg'] == i].index, inplace = True)
print(we.Lg)

print(we)

1    3
Name: Lg, dtype: int64
   Lg  Courses      Fee Duration  Discount
1   3  PySpark  25000.0     None    2300.0