<a href="https://colab.research.google.com/github/Shivaram17/AccEngine_PythonDemoCodes/blob/main/10013AdvancedPython_SliceNaming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

df1 = {
    'State':['Arizona AZ','Georgia GG','Newyork NY','Indiana IN','Florida FL'],
   'Score1':[4,47,55,74,31]}

df1 = pd.DataFrame(df1,columns=['State','Score1'])
print(df1)

        State  Score1
0  Arizona AZ       4
1  Georgia GG      47
2  Newyork NY      55
3  Indiana IN      74
4  Florida FL      31

In [10]:
df1['date'] = pd.to_datetime('today').strftime('%d-%m-%Y')
df1

        State  Score1        date
0  Arizona AZ       4  25-02-2022
1  Georgia GG      47  25-02-2022
2  Newyork NY      55  25-02-2022
3  Indiana IN      74  25-02-2022
4  Florida FL      31  25-02-2022

In [14]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'c1': [10, 11, 12], 'c2': [100, 110, 120]})

for index, row in df.iterrows():
    print(type(row['c1']))
    print(int(row['c1']), row['c2'], index)

<class 'numpy.int64'>
10 100 0
<class 'numpy.int64'>
11 110 1
<class 'numpy.int64'>
12 120 2