<a href="https://colab.research.google.com/github/Shivaram17/AccEngine_PythonDemoCodes/blob/main/Data_Science_Workshop_feb_5_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to google colab

Some interesting features:
* Comment and Share it really quick!
* Free resources!
* Mounting gdrive to access your files!
* Text and code in the same place!


---

# Basics of google colab

## Text and code cells?
**This is a text cell**

Hello whats up

```python
a = 1
print(1)
```

In [2]:
# This is a code cell
a = 1
print(a)

1

## Prints are not needed in most of the cases

In [3]:
print(1)

1

## Try it yourself
Write some basic python code and get a feel of your notebook.

In [4]:
# Write some python code here :)
a = 1
b = 1
a+b

2

In [5]:
b = 2
print(b)

2

## Pro Tip
Sticking to good practices, always run cells in order.

# Data & Python!
```
What is data?
Where is data?
Who is data?
```

* Spreadsheets
* API calls
* JSON files
* CSV files
* YAML files
* SQL database


## That's ok but how do I get this data to python?

Using **pandas**

![pandas](http://4.bp.blogspot.com/-JYiKvzQgg4g/UQFnLfJR6UI/AAAAAAAAEVU/EnPgdxrRHXs/s1600/Panda-info-and+images+07.jpg)

## Pandas

### Official definition
```
Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language.
```

### Layman's definition
```
Python object which can perform everything your Excel spreadsheet can.
```

## Code examples

Let's load this data

https://raw.githubusercontent.com/PyDataPune/Code-and-Coffee-2/master/matches.csv

**Data Credits**: [Mayank Mishra](https://github.com/mayankskb) (*pydata:Pune*)

In [6]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/PyDataPune/Code-and-Coffee-2/master/matches.csv")
df

,city,date,dl_applied,eliminator,id,overs,player_of_match,result,season,team1,team2,toss_decision,toss_winner,umpire1,umpire2,umpire3,venue,win_by_runs,win_by_wickets,winner
0,Mumbai,2010-04-24,NaN,NaN,419164,20,A Kumble,NaN,2010,Royal Challengers Bangalore,Deccan Chargers,bat,Deccan Chargers,RE Koertzen,SJA Taufel,NaN,Dr DY Patil Sports Academy,NaN,9.0,Royal Challengers Bangalore
1,Delhi,2010-03-29,NaN,NaN,419131,20,DA Warner,NaN,2010,Delhi Daredevils,Kolkata Knight Riders,bat,Delhi Daredevils,SS Hazare,SJA Taufel,NaN,Feroz Shah Kotla,40.0,NaN,Delhi Daredevils
2,Mumbai,2008-05-16,NaN,NaN,336021,20,SM Pollock,NaN,2008,Mumbai Indians,Kolkata Knight Riders,field,Mumbai Indians,BR Doctrove,DJ Harper,NaN,Wankhede Stadium,NaN,8.0,Mumbai Indians
3,Pune,2016-04-22,NaN,NaN,980931,20,AB de Villiers,NaN,2016,Rising Pune Supergiants,Royal Challengers Bangalore,field,Rising Pune Supergiants,CB Gaffaney,VK Sharma,NaN,Maharashtra Cricket Association Stadium,13.0,NaN,Royal Challengers Bangalore
4,Mumbai,2010-04-22,NaN,NaN,419163,20,DE Bollinger,NaN,2010,Chennai Super Kings,Deccan Chargers,bat,Chennai Super Kings,BR Doctrove,RB Tiffin,NaN,Dr DY Patil Sports Academy,38.0,NaN,Chennai Super Kings
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,Hyderabad,2018-04-12,NaN,NaN,1136567,20,Rashid Khan,NaN,2018,Sunrisers Hyderabad,Mumbai Indians,field,Sunrisers Hyderabad,NJ Llong,CK Nandan,NaN,"Rajiv Gandhi International Stadium, Uppal",NaN,1.0,Sunrisers Hyderabad
742,East London,2009-05-04,NaN,NaN,392209,20,MS Dhoni,NaN,2009,Chennai Super Kings,Deccan Chargers,bat,Chennai Super Kings,BR Doctrove,M Erasmus,NaN,Buffalo Park,78.0,NaN,Chennai Super Kings
743,Bangalore,2008-05-28,NaN,NaN,336012,20,CRD Fernando,NaN,2008,Royal Challengers Bangalore,Mumbai Indians,field,Mumbai Indians,BF Bowden,AV Jayaprakash,NaN,M Chinnaswamy Stadium,NaN,9.0,Mumbai Indians
744,NaN,2014-04-28,NaN,NaN,729313,20,Sandeep Sharma,NaN,2014,Kings XI Punjab,Royal Challengers Bangalore,field,Kings XI Punjab,BF Bowden,S Ravi,NaN,Dubai International Cricket Stadium,NaN,5.0,Kings XI Punjab
745,Bangalore,2010-04-17,NaN,NaN,419157,20,R McLaren,NaN,2010,Royal Challengers Bangalore,Mumbai Indians,field,Royal Challengers Bangalore,HDPK Dharmasena,SJA Taufel,NaN,M Chinnaswamy Stadium,57.0,NaN,Mumbai Indians

# Head and Tail functions

In [7]:
df.head(1)

,city,date,dl_applied,eliminator,id,overs,player_of_match,result,season,team1,team2,toss_decision,toss_winner,umpire1,umpire2,umpire3,venue,win_by_runs,win_by_wickets,winner
0,Mumbai,2010-04-24,NaN,NaN,419164,20,A Kumble,NaN,2010,Royal Challengers Bangalore,Deccan Chargers,bat,Deccan Chargers,RE Koertzen,SJA Taufel,NaN,Dr DY Patil Sports Academy,NaN,9.0,Royal Challengers Bangalore

In [8]:
df.tail(3)

,city,date,dl_applied,eliminator,id,overs,player_of_match,result,season,team1,team2,toss_decision,toss_winner,umpire1,umpire2,umpire3,venue,win_by_runs,win_by_wickets,winner
743,Bangalore,2008-05-28,NaN,NaN,336012,20,CRD Fernando,NaN,2008,Royal Challengers Bangalore,Mumbai Indians,field,Mumbai Indians,BF Bowden,AV Jayaprakash,NaN,M Chinnaswamy Stadium,NaN,9.0,Mumbai Indians
744,NaN,2014-04-28,NaN,NaN,729313,20,Sandeep Sharma,NaN,2014,Kings XI Punjab,Royal Challengers Bangalore,field,Kings XI Punjab,BF Bowden,S Ravi,NaN,Dubai International Cricket Stadium,NaN,5.0,Kings XI Punjab
745,Bangalore,2010-04-17,NaN,NaN,419157,20,R McLaren,NaN,2010,Royal Challengers Bangalore,Mumbai Indians,field,Royal Challengers Bangalore,HDPK Dharmasena,SJA Taufel,NaN,M Chinnaswamy Stadium,57.0,NaN,Mumbai Indians

### Do it yourself

Get first 0 rows

In [9]:
df.head(0)

Empty DataFrame
Columns: [city, date, dl_applied, eliminator, id, overs, player_of_match, result, season, team1, team2, toss_decision, toss_winner, umpire1, umpire2, umpire3, venue, win_by_runs, win_by_wickets, winner]
Index: []

Get last 747 rows
Note the dataframe just has 746 rows

In [10]:
df.tail(748)

,city,date,dl_applied,eliminator,id,overs,player_of_match,result,season,team1,team2,toss_decision,toss_winner,umpire1,umpire2,umpire3,venue,win_by_runs,win_by_wickets,winner
0,Mumbai,2010-04-24,NaN,NaN,419164,20,A Kumble,NaN,2010,Royal Challengers Bangalore,Deccan Chargers,bat,Deccan Chargers,RE Koertzen,SJA Taufel,NaN,Dr DY Patil Sports Academy,NaN,9.0,Royal Challengers Bangalore
1,Delhi,2010-03-29,NaN,NaN,419131,20,DA Warner,NaN,2010,Delhi Daredevils,Kolkata Knight Riders,bat,Delhi Daredevils,SS Hazare,SJA Taufel,NaN,Feroz Shah Kotla,40.0,NaN,Delhi Daredevils
2,Mumbai,2008-05-16,NaN,NaN,336021,20,SM Pollock,NaN,2008,Mumbai Indians,Kolkata Knight Riders,field,Mumbai Indians,BR Doctrove,DJ Harper,NaN,Wankhede Stadium,NaN,8.0,Mumbai Indians
3,Pune,2016-04-22,NaN,NaN,980931,20,AB de Villiers,NaN,2016,Rising Pune Supergiants,Royal Challengers Bangalore,field,Rising Pune Supergiants,CB Gaffaney,VK Sharma,NaN,Maharashtra Cricket Association Stadium,13.0,NaN,Royal Challengers Bangalore
4,Mumbai,2010-04-22,NaN,NaN,419163,20,DE Bollinger,NaN,2010,Chennai Super Kings,Deccan Chargers,bat,Chennai Super Kings,BR Doctrove,RB Tiffin,NaN,Dr DY Patil Sports Academy,38.0,NaN,Chennai Super Kings
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,Hyderabad,2018-04-12,NaN,NaN,1136567,20,Rashid Khan,NaN,2018,Sunrisers Hyderabad,Mumbai Indians,field,Sunrisers Hyderabad,NJ Llong,CK Nandan,NaN,"Rajiv Gandhi International Stadium, Uppal",NaN,1.0,Sunrisers Hyderabad
742,East London,2009-05-04,NaN,NaN,392209,20,MS Dhoni,NaN,2009,Chennai Super Kings,Deccan Chargers,bat,Chennai Super Kings,BR Doctrove,M Erasmus,NaN,Buffalo Park,78.0,NaN,Chennai Super Kings
743,Bangalore,2008-05-28,NaN,NaN,336012,20,CRD Fernando,NaN,2008,Royal Challengers Bangalore,Mumbai Indians,field,Mumbai Indians,BF Bowden,AV Jayaprakash,NaN,M Chinnaswamy Stadium,NaN,9.0,Mumbai Indians
744,NaN,2014-04-28,NaN,NaN,729313,20,Sandeep Sharma,NaN,2014,Kings XI Punjab,Royal Challengers Bangalore,field,Kings XI Punjab,BF Bowden,S Ravi,NaN,Dubai International Cricket Stadium,NaN,5.0,Kings XI Punjab
745,Bangalore,2010-04-17,NaN,NaN,419157,20,R McLaren,NaN,2010,Royal Challengers Bangalore,Mumbai Indians,field,Royal Challengers Bangalore,HDPK Dharmasena,SJA Taufel,NaN,M Chinnaswamy Stadium,57.0,NaN,Mumbai Indians

Try to get 3,4,5 rows using head and tail

In [11]:
# df.iloc[2:5]
# chaining
(
    df 
      .head(9)
      .tail(7)
      .head(3)
)

,city,date,dl_applied,eliminator,id,overs,player_of_match,result,season,team1,team2,toss_decision,toss_winner,umpire1,umpire2,umpire3,venue,win_by_runs,win_by_wickets,winner
2,Mumbai,2008-05-16,NaN,NaN,336021,20,SM Pollock,NaN,2008,Mumbai Indians,Kolkata Knight Riders,field,Mumbai Indians,BR Doctrove,DJ Harper,NaN,Wankhede Stadium,NaN,8.0,Mumbai Indians
3,Pune,2016-04-22,NaN,NaN,980931,20,AB de Villiers,NaN,2016,Rising Pune Supergiants,Royal Challengers Bangalore,field,Rising Pune Supergiants,CB Gaffaney,VK Sharma,NaN,Maharashtra Cricket Association Stadium,13.0,NaN,Royal Challengers Bangalore
4,Mumbai,2010-04-22,NaN,NaN,419163,20,DE Bollinger,NaN,2010,Chennai Super Kings,Deccan Chargers,bat,Chennai Super Kings,BR Doctrove,RB Tiffin,NaN,Dr DY Patil Sports Academy,38.0,NaN,Chennai Super Kings

## Good practice

Chaining!

In [12]:
tdf = df.head(100)
tdf = tdf.tail(30)
tdf = tdf.head(2)
tdf

,city,date,dl_applied,eliminator,id,overs,player_of_match,result,season,team1,team2,toss_decision,toss_winner,umpire1,umpire2,umpire3,venue,win_by_runs,win_by_wickets,winner
70,Ranchi,2014-05-02,NaN,NaN,733971,20,RA Jadeja,NaN,2014,Chennai Super Kings,Kolkata Knight Riders,bat,Chennai Super Kings,AK Chaudhary,NJ Llong,NaN,JSCA International Stadium Complex,34.0,NaN,Chennai Super Kings
71,Chennai,2011-05-04,NaN,NaN,501240,20,MEK Hussey,NaN,2011,Chennai Super Kings,Rajasthan Royals,bat,Rajasthan Royals,SS Hazare,RB Tiffin,NaN,"MA Chidambaram Stadium, Chepauk",NaN,8.0,Chennai Super Kings

In [13]:
(
  df
    .head(100)
    .tail(50)
    .head(2)
)

,city,date,dl_applied,eliminator,id,overs,player_of_match,result,season,team1,team2,toss_decision,toss_winner,umpire1,umpire2,umpire3,venue,win_by_runs,win_by_wickets,winner
50,Bangalore,2016-05-29,NaN,NaN,981019,20,BCJ Cutting,NaN,2016,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,Sunrisers Hyderabad,HDPK Dharmasena,BNJ Oxenford,NaN,M Chinnaswamy Stadium,8.0,NaN,Sunrisers Hyderabad
51,Johannesburg,2009-05-10,NaN,NaN,392219,20,A Mishra,NaN,2009,Delhi Daredevils,Kolkata Knight Riders,field,Delhi Daredevils,SL Shastri,RB Tiffin,NaN,New Wanderers Stadium,NaN,7.0,Delhi Daredevils

## Basic exploration

In [14]:
df.describe()

                 id  overs       season  win_by_runs  win_by_wickets
count  7.460000e+02  746.0   746.000000   336.000000      398.000000
mean   7.135520e+05   20.0  2013.369973    29.883929        6.251256
std    2.845419e+05    0.0     3.326906    27.276827        1.821281
min    3.359820e+05   20.0  2008.000000     1.000000        1.000000
25%    5.012092e+05   20.0  2011.000000    11.000000        5.000000
50%    5.980485e+05   20.0  2013.000000    22.000000        6.000000
75%    9.809845e+05   20.0  2016.000000    39.000000        8.000000
max    1.178425e+06   20.0  2019.000000   146.000000       10.000000

## Counting matches

In [15]:
df.result.unique()

array([nan, 'no result', 'tie'], dtype=object)

In [16]:
df.result.value_counts()

tie          8
no result    4
Name: result, dtype: int64

## Your turn

* What are the unique values of `toss_decision`

In [17]:
df.toss_decision.unique()

array(['bat', 'field'], dtype=object)

* What does `value_counts` of `toss_decision` look like?
* Do those values add up to `746`?
* What can you conclude from that?

In [18]:
df.toss_decision.value_counts()
df.toss_decision.describe()

count       746
unique        2
top       field
freq        457
Name: toss_decision, dtype: object

* Get rows 5-100 using head and tail functions and perform a descirbe()

* How many matches have first innings batters won?

In [19]:
df.iloc[4:100].describe()
# chaining
(
    df
      .head(300)
      .tail(295)
      .head(95)

)
# chaining 2
df1 = df.head(300)
df1 = df1.tail(295)
df1 = df1.head(95)
# df1[(df1['toss_decision'] == 'bat') & (df1['toss_winner'] == df1['winner'])]
df1.loc[(df1['toss_decision'] == 'bat') & (df1['toss_winner'] == df1['winner'])]
# df1.query('toss_decision == "bat" and toss_winner == winner')

,city,date,dl_applied,eliminator,id,overs,player_of_match,result,season,team1,team2,toss_decision,toss_winner,umpire1,umpire2,umpire3,venue,win_by_runs,win_by_wickets,winner
8,Chennai,2011-05-01,NaN,NaN,501236,20,JA Morkel,NaN,2011,Chennai Super Kings,Deccan Chargers,bat,Chennai Super Kings,Aleem Dar,RB Tiffin,NaN,"MA Chidambaram Stadium, Chepauk",19.0,NaN,Chennai Super Kings
11,Chandigarh,2008-04-19,NaN,NaN,335983,20,MEK Hussey,NaN,2008,Kings XI Punjab,Chennai Super Kings,bat,Chennai Super Kings,MR Benson,SL Shastri,NaN,"Punjab Cricket Association Stadium, Mohali",33.0,NaN,Chennai Super Kings
12,Hyderabad,2017-04-19,NaN,NaN,1082611,20,KS Williamson,NaN,2017,Sunrisers Hyderabad,Delhi Daredevils,bat,Sunrisers Hyderabad,CB Gaffaney,NJ Llong,NaN,"Rajiv Gandhi International Stadium, Uppal",15.0,NaN,Sunrisers Hyderabad
26,Chennai,2008-05-24,NaN,NaN,336033,20,JA Morkel,NaN,2008,Chennai Super Kings,Rajasthan Royals,bat,Rajasthan Royals,DJ Harper,SL Shastri,NaN,"MA Chidambaram Stadium, Chepauk",10.0,NaN,Rajasthan Royals
39,Chennai,2011-05-28,NaN,NaN,501271,20,M Vijay,NaN,2011,Chennai Super Kings,Royal Challengers Bangalore,bat,Chennai Super Kings,Asad Rauf,SJA Taufel,NaN,"MA Chidambaram Stadium, Chepauk",58.0,NaN,Chennai Super Kings
41,Bangalore,2008-04-28,NaN,NaN,335996,20,MS Dhoni,NaN,2008,Royal Challengers Bangalore,Chennai Super Kings,bat,Chennai Super Kings,BR Doctrove,RB Tiffin,NaN,M Chinnaswamy Stadium,13.0,NaN,Chennai Super Kings
45,Pune,2013-04-30,NaN,NaN,598038,20,MS Dhoni,NaN,2013,Pune Warriors,Chennai Super Kings,bat,Chennai Super Kings,S Das,SJA Taufel,NaN,Subrata Roy Sahara Stadium,37.0,NaN,Chennai Super Kings
48,Jaipur,2018-04-29,NaN,NaN,1136588,20,KS Williamson,NaN,2018,Rajasthan Royals,Sunrisers Hyderabad,bat,Sunrisers Hyderabad,BNJ Oxenford,A Nand Kishore,NaN,Sawai Mansingh Stadium,11.0,NaN,Sunrisers Hyderabad
50,Bangalore,2016-05-29,NaN,NaN,981019,20,BCJ Cutting,NaN,2016,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,Sunrisers Hyderabad,HDPK Dharmasena,BNJ Oxenford,NaN,M Chinnaswamy Stadium,8.0,NaN,Sunrisers Hyderabad
58,Delhi,2010-04-04,NaN,NaN,419140,20,PD Collingwood,NaN,2010,Delhi Daredevils,Royal Challengers Bangalore,bat,Delhi Daredevils,BF Bowden,M Erasmus,NaN,Feroz Shah Kotla,37.0,NaN,Delhi Daredevils
64,Durban,2009-04-23,NaN,NaN,392189,20,AB de Villiers,NaN,2009,Chennai Super Kings,Delhi Daredevils,bat,Delhi Daredevils,BR Doctrove,SJA Taufel,NaN,Kingsmead,9.0,NaN,Delhi Daredevils
70,Ranchi,2014-05-02,NaN,NaN,733971,20,RA Jadeja,NaN,2014,Chennai Super Kings,Kolkata Knight Riders,bat,Chennai Super Kings,AK Chaudhary,NJ Llong,NaN,JSCA International Stadium Complex,34.0,NaN,Chennai Super Kings
79,Kolkata,2008-05-08,NaN,NaN,336010,20,SC Ganguly,NaN,2008,Kolkata Knight Riders,Royal Challengers Bangalore,bat,Kolkata Knight Riders,Asad Rauf,IL Howell,NaN,Eden Gardens,5.0,NaN,Kolkata Knight Riders
85,Kolkata,2008-05-13,NaN,NaN,336017,20,Shoaib Akhtar,NaN,2008,Kolkata Knight Riders,Delhi Daredevils,bat,Kolkata Knight Riders,Asad Rauf,IL Howell,NaN,Eden Gardens,23.0,NaN,Kolkata Knight Riders
86,Mumbai,2010-04-13,NaN,NaN,419152,20,KA Pollard,NaN,2010,Mumbai Indians,Delhi Daredevils,bat,Mumbai Indians,S Asnani,DJ Harper,NaN,Brabourne Stadium,39.0,NaN,Mumbai Indians
87,Mumbai,2010-03-13,NaN,NaN,419107,20,YK Pathan,NaN,2010,Mumbai Indians,Rajasthan Royals,bat,Mumbai Indians,RE Koertzen,RB Tiffin,NaN,Brabourne Stadium,4.0,NaN,Mumbai Indians
91,Visakhapatnam,2015-04-18,NaN,NaN,829731,20,JP Duminy,NaN,2015,Sunrisers Hyderabad,Delhi Daredevils,bat,Delhi Daredevils,PG Pathak,S Ravi,NaN,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,4.0,NaN,Delhi Daredevils

* Get rows 50-200 using `head` and `tail` functions and perform a `describe()`

* Find value counts of `result`?

In [20]:
cdf = (
    df
      .head(400)
      .tail(350)
      .head(150)
)
cdf.describe()
# cdf.result.value_counts()

                 id  overs       season  win_by_runs  win_by_wickets
count  1.500000e+02  150.0   150.000000     59.00000       87.000000
mean   6.946637e+05   20.0  2013.033333     28.20339        6.540230
std    2.803984e+05    0.0     3.265473     29.99585        1.750778
min    3.359820e+05   20.0  2008.000000      1.00000        3.000000
25%    4.191532e+05   20.0  2010.000000     12.00000        5.000000
50%    5.980485e+05   20.0  2013.000000     19.00000        7.000000
75%    9.809235e+05   20.0  2016.000000     33.00000        8.000000
max    1.178418e+06   20.0  2019.000000    146.00000       10.000000

## Selection operations

#### Lets go back to lists in python

In [21]:
l = [0,1,2,3,4,5,6,7,8,9,10]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
l[1:4]

[1, 2, 3]

In [23]:
l[:5]

[0, 1, 2, 3, 4]

In [24]:
l[6:]

[6, 7, 8, 9, 10]

#### Your turn
Try getting an output of `[7,8,9]` using both first and last index

In [25]:
l[7:10]

[7, 8, 9]

Try getting the output `[8,9,10]` using only first index

In [26]:
l[8:]

[8, 9, 10]

Try getting the output `[1,2,3,4,5]` using only last index

In [27]:
l[:6]

[0, 1, 2, 3, 4, 5]

Get all elements but use slicing

In [28]:
l[:]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### Back to pandas

Head and tail operations are good but can we have more control?

Yes. `iloc`

In [29]:
df.iloc[4:6, 2:9]

  dl_applied eliminator      id  overs player_of_match result  season
4        NaN        NaN  419163     20    DE Bollinger    NaN    2010
5        NaN        NaN  419136     20    KP Pietersen    NaN    2010

In [30]:
df.iloc[[4, 6, 7],:]

,city,date,dl_applied,eliminator,id,overs,player_of_match,result,season,team1,team2,toss_decision,toss_winner,umpire1,umpire2,umpire3,venue,win_by_runs,win_by_wickets,winner
4,Mumbai,2010-04-22,NaN,NaN,419163,20,DE Bollinger,NaN,2010,Chennai Super Kings,Deccan Chargers,bat,Chennai Super Kings,BR Doctrove,RB Tiffin,NaN,Dr DY Patil Sports Academy,38.0,NaN,Chennai Super Kings
6,Bangalore,2008-05-19,NaN,NaN,336026,20,SP Goswami,NaN,2008,Royal Challengers Bangalore,Delhi Daredevils,field,Delhi Daredevils,SJ Davis,GA Pratapkumar,NaN,M Chinnaswamy Stadium,NaN,5.0,Delhi Daredevils
7,Kolkata,2016-05-04,NaN,NaN,980963,20,AD Russell,NaN,2016,Kolkata Knight Riders,Kings XI Punjab,field,Kings XI Punjab,AK Chaudhary,HDPK Dharmasena,NaN,Eden Gardens,7.0,NaN,Kolkata Knight Riders

* Get rows 100 to 200 with columns 1 to 5

In [31]:
df.iloc[100:200, 1:6]

           date dl_applied eliminator       id  overs
100  2012-04-18        NaN        NaN   548328     20
101  2008-05-25        NaN        NaN   336035     20
102  2010-03-25        NaN        NaN   419125     20
103  2016-04-19        NaN        NaN   980925     20
104  2017-04-08        NaN        NaN  1082595     20
..          ...        ...        ...      ...    ...
195  2012-05-15        NaN        NaN   548369     20
196  2017-05-05        NaN        NaN  1082633     20
197  2018-04-24        NaN        NaN  1136583     20
198  2016-04-17        NaN        NaN   980919     20
199  2009-05-06        NaN        NaN   392212     20

[100 rows x 5 columns]

* Get all rows with only columns 2,5

In [32]:
df.iloc[:,2:6]

    dl_applied eliminator       id  overs
0          NaN        NaN   419164     20
1          NaN        NaN   419131     20
2          NaN        NaN   336021     20
3          NaN        NaN   980931     20
4          NaN        NaN   419163     20
..         ...        ...      ...    ...
741        NaN        NaN  1136567     20
742        NaN        NaN   392209     20
743        NaN        NaN   336012     20
744        NaN        NaN   729313     20
745        NaN        NaN   419157     20

[746 rows x 4 columns]

* Get last 5 columns with 8,100,201 rows

In [33]:
# df.shape
df.iloc[[8,100,201], 15:20]

,umpire3,venue,win_by_runs,win_by_wickets,winner
8,NaN,"MA Chidambaram Stadium, Chepauk",19.0,NaN,Chennai Super Kings
100,NaN,"Punjab Cricket Association Stadium, Mohali",NaN,8.0,Kolkata Knight Riders
201,NaN,Maharashtra Cricket Association Stadium,71.0,NaN,Royal Challengers Bangalore

* Get rows 5-100 using iloc functions and perform a describe()

* How many matches have first innings batters lost?

In [34]:
df.iloc[50:2100, :].describe()
df.query('(toss_decision == "bat" and toss_winner != winner) or (toss_decision == "field" and toss_winner == winner)')

,city,date,dl_applied,eliminator,id,overs,player_of_match,result,season,team1,team2,toss_decision,toss_winner,umpire1,umpire2,umpire3,venue,win_by_runs,win_by_wickets,winner
0,Mumbai,2010-04-24,NaN,NaN,419164,20,A Kumble,NaN,2010,Royal Challengers Bangalore,Deccan Chargers,bat,Deccan Chargers,RE Koertzen,SJA Taufel,NaN,Dr DY Patil Sports Academy,NaN,9.0,Royal Challengers Bangalore
2,Mumbai,2008-05-16,NaN,NaN,336021,20,SM Pollock,NaN,2008,Mumbai Indians,Kolkata Knight Riders,field,Mumbai Indians,BR Doctrove,DJ Harper,NaN,Wankhede Stadium,NaN,8.0,Mumbai Indians
5,Chandigarh,2010-04-02,NaN,NaN,419136,20,KP Pietersen,NaN,2010,Kings XI Punjab,Royal Challengers Bangalore,bat,Kings XI Punjab,BF Bowden,M Erasmus,NaN,"Punjab Cricket Association Stadium, Mohali",NaN,6.0,Royal Challengers Bangalore
6,Bangalore,2008-05-19,NaN,NaN,336026,20,SP Goswami,NaN,2008,Royal Challengers Bangalore,Delhi Daredevils,field,Delhi Daredevils,SJ Davis,GA Pratapkumar,NaN,M Chinnaswamy Stadium,NaN,5.0,Delhi Daredevils
9,Mumbai,2011-05-20,NaN,NaN,501263,20,SR Watson,NaN,2011,Mumbai Indians,Rajasthan Royals,bat,Mumbai Indians,RE Koertzen,PR Reiffel,NaN,Wankhede Stadium,NaN,10.0,Rajasthan Royals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
738,Pune,2016-05-01,NaN,NaN,980957,20,RG Sharma,NaN,2016,Rising Pune Supergiants,Mumbai Indians,field,Mumbai Indians,AY Dandekar,RJ Tucker,NaN,Maharashtra Cricket Association Stadium,NaN,8.0,Mumbai Indians
739,Indore,2018-05-06,NaN,NaN,1136598,20,Mujeeb Ur Rahman,NaN,2018,Kings XI Punjab,Rajasthan Royals,field,Kings XI Punjab,C Shamshuddin,S Ravi,NaN,Holkar Cricket Stadium,NaN,6.0,Kings XI Punjab
741,Hyderabad,2018-04-12,NaN,NaN,1136567,20,Rashid Khan,NaN,2018,Sunrisers Hyderabad,Mumbai Indians,field,Sunrisers Hyderabad,NJ Llong,CK Nandan,NaN,"Rajiv Gandhi International Stadium, Uppal",NaN,1.0,Sunrisers Hyderabad
743,Bangalore,2008-05-28,NaN,NaN,336012,20,CRD Fernando,NaN,2008,Royal Challengers Bangalore,Mumbai Indians,field,Mumbai Indians,BF Bowden,AV Jayaprakash,NaN,M Chinnaswamy Stadium,NaN,9.0,Mumbai Indians
744,NaN,2014-04-28,NaN,NaN,729313,20,Sandeep Sharma,NaN,2014,Kings XI Punjab,Royal Challengers Bangalore,field,Kings XI Punjab,BF Bowden,S Ravi,NaN,Dubai International Cricket Stadium,NaN,5.0,Kings XI Punjab

* Get rows 50-200 using iloc functions and perform a describe()

* Find value counts of toss_decision?

In [35]:
df.iloc[50:200,:].toss_decision.value_counts()

field    84
bat      66
Name: toss_decision, dtype: int64

## What if I want to select columns by name not index

### Basic indexing

In [36]:
df[ ["winner", "date", "city"] ]

                          winner        date         city
0    Royal Challengers Bangalore  2010-04-24       Mumbai
1               Delhi Daredevils  2010-03-29        Delhi
2                 Mumbai Indians  2008-05-16       Mumbai
3    Royal Challengers Bangalore  2016-04-22         Pune
4            Chennai Super Kings  2010-04-22       Mumbai
..                           ...         ...          ...
741          Sunrisers Hyderabad  2018-04-12    Hyderabad
742          Chennai Super Kings  2009-05-04  East London
743               Mumbai Indians  2008-05-28    Bangalore
744              Kings XI Punjab  2014-04-28          NaN
745               Mumbai Indians  2010-04-17    Bangalore

[746 rows x 3 columns]

### Using loc

In [37]:
df.loc[1:10, ["city", "date"]]

          city        date
1        Delhi  2010-03-29
2       Mumbai  2008-05-16
3         Pune  2016-04-22
4       Mumbai  2010-04-22
5   Chandigarh  2010-04-02
6    Bangalore  2008-05-19
7      Kolkata  2016-05-04
8      Chennai  2011-05-01
9       Mumbai  2011-05-20
10      Mumbai  2014-05-30

# Update data example

## Do it yourself

Use index access to get the columns 

```
['win_by_runs', 'win_by_wickets']
```

In [38]:
df[['win_by_runs','win_by_wickets']]

     win_by_runs  win_by_wickets
0            NaN             9.0
1           40.0             NaN
2            NaN             8.0
3           13.0             NaN
4           38.0             NaN
..           ...             ...
741          NaN             1.0
742         78.0             NaN
743          NaN             9.0
744          NaN             5.0
745         57.0             NaN

[746 rows x 2 columns]

Use `loc` to get first 100 rows with columns

```
['win_by_runs', 'win_by_wickets']
```
perform a describe()?

Somethings is different in the output, what is it? and why?

In [40]:
df.loc[:100, ['win_by_runs', 'win_by_wickets']].describe()

       win_by_runs  win_by_wickets
count    47.000000       53.000000
mean     29.276596        6.943396
std      25.431666        1.586179
min       1.000000        3.000000
25%      10.500000        6.000000
50%      25.000000        7.000000
75%      37.500000        8.000000
max     146.000000       10.000000

---



---




# Break Time

![Break](https://assets.website-files.com/5876c7374691a7d805ce8d19/5f485e12cc612bf82c5ca433_shutterstock_792140977-p-1600.jpeg)

## Filtering

`df[query]`

In [41]:
df[df["city"] == 'Mumbai']

,city,date,dl_applied,eliminator,id,overs,player_of_match,result,season,team1,team2,toss_decision,toss_winner,umpire1,umpire2,umpire3,venue,win_by_runs,win_by_wickets,winner
0,Mumbai,2010-04-24,NaN,NaN,419164,20,A Kumble,NaN,2010,Royal Challengers Bangalore,Deccan Chargers,bat,Deccan Chargers,RE Koertzen,SJA Taufel,NaN,Dr DY Patil Sports Academy,NaN,9.0,Royal Challengers Bangalore
2,Mumbai,2008-05-16,NaN,NaN,336021,20,SM Pollock,NaN,2008,Mumbai Indians,Kolkata Knight Riders,field,Mumbai Indians,BR Doctrove,DJ Harper,NaN,Wankhede Stadium,NaN,8.0,Mumbai Indians
4,Mumbai,2010-04-22,NaN,NaN,419163,20,DE Bollinger,NaN,2010,Chennai Super Kings,Deccan Chargers,bat,Chennai Super Kings,BR Doctrove,RB Tiffin,NaN,Dr DY Patil Sports Academy,38.0,NaN,Chennai Super Kings
9,Mumbai,2011-05-20,NaN,NaN,501263,20,SR Watson,NaN,2011,Mumbai Indians,Rajasthan Royals,bat,Mumbai Indians,RE Koertzen,PR Reiffel,NaN,Wankhede Stadium,NaN,10.0,Rajasthan Royals
10,Mumbai,2014-05-30,NaN,NaN,734047,20,V Sehwag,NaN,2014,Chennai Super Kings,Kings XI Punjab,field,Chennai Super Kings,HDPK Dharmasena,RJ Tucker,NaN,Wankhede Stadium,24.0,NaN,Kings XI Punjab
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
705,Mumbai,2015-05-19,NaN,NaN,829817,20,KA Pollard,NaN,2015,Chennai Super Kings,Mumbai Indians,bat,Mumbai Indians,HDPK Dharmasena,RK Illingworth,NaN,Wankhede Stadium,25.0,NaN,Mumbai Indians
708,Mumbai,2016-04-16,NaN,NaN,980917,20,AJ Finch,NaN,2016,Mumbai Indians,Gujarat Lions,field,Gujarat Lions,HDPK Dharmasena,VK Sharma,NaN,Wankhede Stadium,NaN,3.0,Gujarat Lions
721,Mumbai,2011-04-10,NaN,NaN,501202,20,SB Wagh,NaN,2011,Pune Warriors,Kings XI Punjab,bat,Kings XI Punjab,BR Doctrove,PR Reiffel,NaN,Dr DY Patil Sports Academy,NaN,7.0,Pune Warriors
734,Mumbai,2008-06-01,NaN,NaN,336040,20,YK Pathan,NaN,2008,Chennai Super Kings,Rajasthan Royals,field,Rajasthan Royals,BF Bowden,RE Koertzen,NaN,Dr DY Patil Sports Academy,NaN,3.0,Rajasthan Royals
735,Mumbai,2015-05-14,NaN,NaN,829805,20,HH Pandya,NaN,2015,Mumbai Indians,Kolkata Knight Riders,field,Kolkata Knight Riders,RK Illingworth,VA Kulkarni,NaN,Wankhede Stadium,5.0,NaN,Mumbai Indians

In [43]:
df[df.win_by_runs > 50].shape

(53, 20)

## Lets say you want to get both
city Mumbai and runs > 50
```
df[(query1) & (query2)]
```

In [44]:
df[(df["city"] == 'Mumbai') & (df["win_by_runs"] > 50)]

,city,date,dl_applied,eliminator,id,overs,player_of_match,result,season,team1,team2,toss_decision,toss_winner,umpire1,umpire2,umpire3,venue,win_by_runs,win_by_wickets,winner
215,Mumbai,2013-05-07,NaN,NaN,598050,20,SR Tendulkar,NaN,2013,Mumbai Indians,Kolkata Knight Riders,bat,Mumbai Indians,HDPK Dharmasena,S Ravi,NaN,Wankhede Stadium,65.0,NaN,Mumbai Indians
272,Mumbai,2008-05-30,NaN,NaN,336038,20,SR Watson,NaN,2008,Delhi Daredevils,Rajasthan Royals,field,Delhi Daredevils,BF Bowden,RE Koertzen,NaN,Wankhede Stadium,105.0,NaN,Rajasthan Royals
287,Mumbai,2013-04-27,NaN,NaN,598033,20,DR Smith,NaN,2013,Mumbai Indians,Royal Challengers Bangalore,bat,Mumbai Indians,Asad Rauf,S Asnani,NaN,Wankhede Stadium,58.0,NaN,Mumbai Indians
388,Mumbai,2013-05-05,NaN,NaN,598046,20,MG Johnson,NaN,2013,Mumbai Indians,Chennai Super Kings,bat,Mumbai Indians,HDPK Dharmasena,CK Nandan,NaN,Wankhede Stadium,60.0,NaN,Mumbai Indians
535,Mumbai,2010-04-03,NaN,NaN,419138,20,AT Rayudu,NaN,2010,Mumbai Indians,Deccan Chargers,bat,Mumbai Indians,BR Doctrove,S Ravi,NaN,Brabourne Stadium,63.0,NaN,Mumbai Indians

City is Mumbai or season is 2019

In [45]:
df[(df["city"] == 'Mumbai') | (df["season"] == 2019)]

,city,date,dl_applied,eliminator,id,overs,player_of_match,result,season,team1,team2,toss_decision,toss_winner,umpire1,umpire2,umpire3,venue,win_by_runs,win_by_wickets,winner
0,Mumbai,2010-04-24,NaN,NaN,419164,20,A Kumble,NaN,2010,Royal Challengers Bangalore,Deccan Chargers,bat,Deccan Chargers,RE Koertzen,SJA Taufel,NaN,Dr DY Patil Sports Academy,NaN,9.0,Royal Challengers Bangalore
2,Mumbai,2008-05-16,NaN,NaN,336021,20,SM Pollock,NaN,2008,Mumbai Indians,Kolkata Knight Riders,field,Mumbai Indians,BR Doctrove,DJ Harper,NaN,Wankhede Stadium,NaN,8.0,Mumbai Indians
4,Mumbai,2010-04-22,NaN,NaN,419163,20,DE Bollinger,NaN,2010,Chennai Super Kings,Deccan Chargers,bat,Chennai Super Kings,BR Doctrove,RB Tiffin,NaN,Dr DY Patil Sports Academy,38.0,NaN,Chennai Super Kings
9,Mumbai,2011-05-20,NaN,NaN,501263,20,SR Watson,NaN,2011,Mumbai Indians,Rajasthan Royals,bat,Mumbai Indians,RE Koertzen,PR Reiffel,NaN,Wankhede Stadium,NaN,10.0,Rajasthan Royals
10,Mumbai,2014-05-30,NaN,NaN,734047,20,V Sehwag,NaN,2014,Chennai Super Kings,Kings XI Punjab,field,Chennai Super Kings,HDPK Dharmasena,RJ Tucker,NaN,Wankhede Stadium,24.0,NaN,Kings XI Punjab
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
707,Jaipur,2019-04-02,NaN,NaN,1175369,20,S Gopal,NaN,2019,Rajasthan Royals,Royal Challengers Bangalore,field,Rajasthan Royals,AY Dandekar,M Erasmus,NaN,Sawai Mansingh Stadium,NaN,7.0,Rajasthan Royals
708,Mumbai,2016-04-16,NaN,NaN,980917,20,AJ Finch,NaN,2016,Mumbai Indians,Gujarat Lions,field,Gujarat Lions,HDPK Dharmasena,VK Sharma,NaN,Wankhede Stadium,NaN,3.0,Gujarat Lions
721,Mumbai,2011-04-10,NaN,NaN,501202,20,SB Wagh,NaN,2011,Pune Warriors,Kings XI Punjab,bat,Kings XI Punjab,BR Doctrove,PR Reiffel,NaN,Dr DY Patil Sports Academy,NaN,7.0,Pune Warriors
734,Mumbai,2008-06-01,NaN,NaN,336040,20,YK Pathan,NaN,2008,Chennai Super Kings,Rajasthan Royals,field,Rajasthan Royals,BF Bowden,RE Koertzen,NaN,Dr DY Patil Sports Academy,NaN,3.0,Rajasthan Royals
735,Mumbai,2015-05-14,NaN,NaN,829805,20,HH Pandya,NaN,2015,Mumbai Indians,Kolkata Knight Riders,field,Kolkata Knight Riders,RK Illingworth,VA Kulkarni,NaN,Wankhede Stadium,5.0,NaN,Mumbai Indians

### Try it yourself

City is Jaipur and toss_decision is field. What are max value of `win_by_runs`

In [50]:
# df[(df['city'] == 'Jaipur') & (df['toss_decision'] == 'field')]
df.query('(city == "Jaipur") and (toss_decision == "field")')

,city,date,dl_applied,eliminator,id,overs,player_of_match,result,season,team1,team2,toss_decision,toss_winner,umpire1,umpire2,umpire3,venue,win_by_runs,win_by_wickets,winner
15,Jaipur,2011-04-29,NaN,NaN,501231,20,J Botha,NaN,2011,Rajasthan Royals,Mumbai Indians,field,Rajasthan Royals,Asad Rauf,SK Tarapore,NaN,Sawai Mansingh Stadium,NaN,7.0,Rajasthan Royals
93,Jaipur,2011-05-11,NaN,NaN,501252,20,S Aravind,NaN,2011,Rajasthan Royals,Royal Challengers Bangalore,field,Royal Challengers Bangalore,HDPK Dharmasena,K Hariharan,NaN,Sawai Mansingh Stadium,NaN,9.0,Royal Challengers Bangalore
118,Jaipur,2011-04-24,NaN,NaN,501225,20,SK Warne,NaN,2011,Rajasthan Royals,Kochi Tuskers Kerala,field,Rajasthan Royals,BR Doctrove,SK Tarapore,NaN,Sawai Mansingh Stadium,NaN,8.0,Rajasthan Royals
121,Jaipur,2019-04-07,NaN,NaN,1178396,20,HF Gurney,NaN,2019,Rajasthan Royals,Kolkata Knight Riders,field,Kolkata Knight Riders,CB Gaffaney,AK Chaudhary,NaN,Sawai Mansingh Stadium,NaN,8.0,Kolkata Knight Riders
156,Jaipur,2008-05-09,NaN,NaN,336011,20,YK Pathan,NaN,2008,Rajasthan Royals,Deccan Chargers,field,Rajasthan Royals,MR Benson,AM Saheba,NaN,Sawai Mansingh Stadium,NaN,8.0,Rajasthan Royals
210,Jaipur,2012-04-23,NaN,NaN,548336,20,AB de Villiers,NaN,2012,Rajasthan Royals,Royal Challengers Bangalore,field,Rajasthan Royals,Asad Rauf,S Asnani,NaN,Sawai Mansingh Stadium,46.0,NaN,Royal Challengers Bangalore
216,Jaipur,2013-04-08,NaN,NaN,598005,20,SK Trivedi,NaN,2013,Rajasthan Royals,Kolkata Knight Riders,field,Kolkata Knight Riders,Aleem Dar,S Das,NaN,Sawai Mansingh Stadium,19.0,NaN,Rajasthan Royals
260,Jaipur,2019-04-11,NaN,NaN,1178400,20,MS Dhoni,NaN,2019,Rajasthan Royals,Chennai Super Kings,field,Chennai Super Kings,UV Gandhe,BNJ Oxenford,NaN,Sawai Mansingh Stadium,NaN,4.0,Chennai Super Kings
265,Jaipur,2012-04-08,NaN,NaN,548312,20,BJ Hodge,NaN,2012,Rajasthan Royals,Kolkata Knight Riders,field,Kolkata Knight Riders,BF Bowden,VA Kulkarni,NaN,Sawai Mansingh Stadium,22.0,NaN,Rajasthan Royals
283,Jaipur,2019-04-22,NaN,NaN,1178415,20,RR Pant,NaN,2019,Rajasthan Royals,Delhi Capitals,field,Delhi Capitals,A Nand Kishore,S Ravi,NaN,Sawai Mansingh Stadium,NaN,6.0,Delhi Capitals
382,Jaipur,2013-04-14,NaN,NaN,598014,20,JP Faulkner,NaN,2013,Rajasthan Royals,Kings XI Punjab,field,Rajasthan Royals,Aleem Dar,C Shamshuddin,NaN,Sawai Mansingh Stadium,NaN,6.0,Rajasthan Royals
409,Jaipur,2019-04-27,NaN,NaN,1178420,20,JD Unadkat,NaN,2019,Rajasthan Royals,Sunrisers Hyderabad,field,Rajasthan Royals,YC Barde,A Nand Kishore,NaN,Sawai Mansingh Stadium,NaN,7.0,Rajasthan Royals
436,Jaipur,2019-04-20,NaN,NaN,1178411,20,SPD Smith,NaN,2019,Rajasthan Royals,Mumbai Indians,field,Rajasthan Royals,YC Barde,S Ravi,NaN,Sawai Mansingh Stadium,NaN,5.0,Rajasthan Royals
471,Jaipur,2011-05-09,NaN,NaN,501249,20,M Vijay,NaN,2011,Rajasthan Royals,Chennai Super Kings,field,Rajasthan Royals,K Hariharan,SJA Taufel,NaN,Sawai Mansingh Stadium,63.0,NaN,Chennai Super Kings
477,Jaipur,2012-05-10,NaN,NaN,548361,20,BW Hilfenhaus,NaN,2012,Rajasthan Royals,Chennai Super Kings,field,Chennai Super Kings,BNJ Oxenford,C Shamshuddin,NaN,Sawai Mansingh Stadium,NaN,4.0,Chennai Super Kings
494,Jaipur,2011-04-15,NaN,NaN,501209,20,G Gambhir,NaN,2011,Rajasthan Royals,Kolkata Knight Riders,field,Kolkata Knight Riders,Aleem Dar,SS Hazare,NaN,Sawai Mansingh Stadium,NaN,9.0,Kolkata Knight Riders
542,Jaipur,2013-04-29,NaN,NaN,598036,20,SV Samson,NaN,2013,Rajasthan Royals,Royal Challengers Bangalore,field,Rajasthan Royals,M Erasmus,K Srinath,NaN,Sawai Mansingh Stadium,NaN,4.0,Rajasthan Royals
569,Jaipur,2019-03-25,NaN,NaN,1175359,20,CH Gayle,NaN,2019,Rajasthan Royals,Kings XI Punjab,field,Rajasthan Royals,KN Ananthapadmanabhan,C Shamshuddin,NaN,Sawai Mansingh Stadium,14.0,NaN,Kings XI Punjab
573,Jaipur,2011-05-01,NaN,NaN,501235,20,LRPL Taylor,NaN,2011,Rajasthan Royals,Pune Warriors,field,Rajasthan Royals,SK Tarapore,SJA Taufel,NaN,Sawai Mansingh Stadium,NaN,6.0,Rajasthan Royals
613,Jaipur,2018-04-11,D/L,NaN,1136566,20,SV Samson,NaN,2018,Rajasthan Royals,Delhi Daredevils,field,Delhi Daredevils,KN Ananthapadmanabhan,Nitin Menon,NaN,Sawai Mansingh Stadium,10.0,NaN,Rajasthan Royals
622,Jaipur,2013-05-12,NaN,NaN,598058,20,SR Watson,NaN,2013,Rajasthan Royals,Chennai Super Kings,field,Rajasthan Royals,HDPK Dharmasena,CK Nandan,NaN,Sawai Mansingh Stadium,NaN,5.0,Rajasthan Royals
670,Jaipur,2008-05-17,NaN,NaN,336023,20,GC Smith,NaN,2008,Rajasthan Royals,Royal Challengers Bangalore,field,Royal Challengers Bangalore,BF Bowden,SL Shastri,NaN,Sawai Mansingh Stadium,65.0,NaN,Rajasthan Royals
676,Jaipur,2012-04-06,NaN,NaN,548309,20,AM Rahane,NaN,2012,Rajasthan Royals,Kings XI Punjab,field,Kings XI Punjab,BF Bowden,SK Tarapore,NaN,Sawai Mansingh Stadium,31.0,NaN,Rajasthan Royals
683,Jaipur,2008-05-26,NaN,NaN,336036,20,Sohail Tanvir,NaN,2008,Rajasthan Royals,Mumbai Indians,field,Rajasthan Royals,BF Bowden,K Hariharan,NaN,Sawai Mansingh Stadium,NaN,5.0,Rajasthan Royals
707,Jaipur,2019-04-02,NaN,NaN,1175369,20,S Gopal,NaN,2019,Rajasthan Royals,Royal Challengers Bangalore,field,Rajasthan Royals,AY Dandekar,M Erasmus,NaN,Sawai Mansingh Stadium,NaN,7.0,Rajasthan Royals
715,Jaipur,2018-04-18,NaN,NaN,1136575,20,N Rana,NaN,2018,Rajasthan Royals,Kolkata Knight Riders,field,Kolkata Knight Riders,A Deshmukh,S Ravi,NaN,Sawai Mansingh Stadium,NaN,7.0,Kolkata Knight Riders
736,Jaipur,2008-05-11,NaN,NaN,336015,20,SR Watson,NaN,2008,Rajasthan Royals,Delhi Daredevils,field,Rajasthan Royals,SJ Davis,RE Koertzen,NaN,Sawai Mansingh Stadium,NaN,3.0,Rajasthan Royals
737,Jaipur,2010-04-11,NaN,NaN,419150,20,SR Tendulkar,NaN,2010,Rajasthan Royals,Mumbai Indians,field,Rajasthan Royals,BR Doctrove,SK Tarapore,NaN,Sawai Mansingh Stadium,37.0,NaN,Mumbai Indians

Win by runs is > 20 and win by wickets id < 5

What is the output why is it wierd?

In [51]:
df.query('win_by_runs > 20 and win_by_wickets < 5')
# it is wierd because both those events are dependent and cannot happen at the same time

Empty DataFrame
Columns: [city, date, dl_applied, eliminator, id, overs, player_of_match, result, season, team1, team2, toss_decision, toss_winner, umpire1, umpire2, umpire3, venue, win_by_runs, win_by_wickets, winner]
Index: []

In df `win_by_runs` is > 20 or `win_by_wickets` id < 5
Find value counts of `toss_decision`

In [52]:
df[(df['win_by_runs'] > 20) | (df['win_by_wickets'] < 5)].toss_decision.value_counts()

field    157
bat       86
Name: toss_decision, dtype: int64

### Problems with filtering!!!

(City is Mumbai or season is 2019) and (`win_by_runs > 50` or `win_by_wickets < 3`)

In [53]:
df[((df["city"] == 'Mumbai') | (df["season"] == 2019)) & ((df["win_by_runs"] > 50) | df["win_by_wickets"] < 3) ]

,city,date,dl_applied,eliminator,id,overs,player_of_match,result,season,team1,team2,toss_decision,toss_winner,umpire1,umpire2,umpire3,venue,win_by_runs,win_by_wickets,winner
0,Mumbai,2010-04-24,NaN,NaN,419164,20,A Kumble,NaN,2010,Royal Challengers Bangalore,Deccan Chargers,bat,Deccan Chargers,RE Koertzen,SJA Taufel,NaN,Dr DY Patil Sports Academy,NaN,9.0,Royal Challengers Bangalore
2,Mumbai,2008-05-16,NaN,NaN,336021,20,SM Pollock,NaN,2008,Mumbai Indians,Kolkata Knight Riders,field,Mumbai Indians,BR Doctrove,DJ Harper,NaN,Wankhede Stadium,NaN,8.0,Mumbai Indians
4,Mumbai,2010-04-22,NaN,NaN,419163,20,DE Bollinger,NaN,2010,Chennai Super Kings,Deccan Chargers,bat,Chennai Super Kings,BR Doctrove,RB Tiffin,NaN,Dr DY Patil Sports Academy,38.0,NaN,Chennai Super Kings
9,Mumbai,2011-05-20,NaN,NaN,501263,20,SR Watson,NaN,2011,Mumbai Indians,Rajasthan Royals,bat,Mumbai Indians,RE Koertzen,PR Reiffel,NaN,Wankhede Stadium,NaN,10.0,Rajasthan Royals
10,Mumbai,2014-05-30,NaN,NaN,734047,20,V Sehwag,NaN,2014,Chennai Super Kings,Kings XI Punjab,field,Chennai Super Kings,HDPK Dharmasena,RJ Tucker,NaN,Wankhede Stadium,24.0,NaN,Kings XI Punjab
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
707,Jaipur,2019-04-02,NaN,NaN,1175369,20,S Gopal,NaN,2019,Rajasthan Royals,Royal Challengers Bangalore,field,Rajasthan Royals,AY Dandekar,M Erasmus,NaN,Sawai Mansingh Stadium,NaN,7.0,Rajasthan Royals
708,Mumbai,2016-04-16,NaN,NaN,980917,20,AJ Finch,NaN,2016,Mumbai Indians,Gujarat Lions,field,Gujarat Lions,HDPK Dharmasena,VK Sharma,NaN,Wankhede Stadium,NaN,3.0,Gujarat Lions
721,Mumbai,2011-04-10,NaN,NaN,501202,20,SB Wagh,NaN,2011,Pune Warriors,Kings XI Punjab,bat,Kings XI Punjab,BR Doctrove,PR Reiffel,NaN,Dr DY Patil Sports Academy,NaN,7.0,Pune Warriors
734,Mumbai,2008-06-01,NaN,NaN,336040,20,YK Pathan,NaN,2008,Chennai Super Kings,Rajasthan Royals,field,Rajasthan Royals,BF Bowden,RE Koertzen,NaN,Dr DY Patil Sports Academy,NaN,3.0,Rajasthan Royals
735,Mumbai,2015-05-14,NaN,NaN,829805,20,HH Pandya,NaN,2015,Mumbai Indians,Kolkata Knight Riders,field,Kolkata Knight Riders,RK Illingworth,VA Kulkarni,NaN,Wankhede Stadium,5.0,NaN,Mumbai Indians

## So what do we do?
Use `.query()` instead of filtering

In [54]:
df.query('win_by_runs > 10')

,city,date,dl_applied,eliminator,id,overs,player_of_match,result,season,team1,team2,toss_decision,toss_winner,umpire1,umpire2,umpire3,venue,win_by_runs,win_by_wickets,winner
1,Delhi,2010-03-29,NaN,NaN,419131,20,DA Warner,NaN,2010,Delhi Daredevils,Kolkata Knight Riders,bat,Delhi Daredevils,SS Hazare,SJA Taufel,NaN,Feroz Shah Kotla,40.0,NaN,Delhi Daredevils
3,Pune,2016-04-22,NaN,NaN,980931,20,AB de Villiers,NaN,2016,Rising Pune Supergiants,Royal Challengers Bangalore,field,Rising Pune Supergiants,CB Gaffaney,VK Sharma,NaN,Maharashtra Cricket Association Stadium,13.0,NaN,Royal Challengers Bangalore
4,Mumbai,2010-04-22,NaN,NaN,419163,20,DE Bollinger,NaN,2010,Chennai Super Kings,Deccan Chargers,bat,Chennai Super Kings,BR Doctrove,RB Tiffin,NaN,Dr DY Patil Sports Academy,38.0,NaN,Chennai Super Kings
8,Chennai,2011-05-01,NaN,NaN,501236,20,JA Morkel,NaN,2011,Chennai Super Kings,Deccan Chargers,bat,Chennai Super Kings,Aleem Dar,RB Tiffin,NaN,"MA Chidambaram Stadium, Chepauk",19.0,NaN,Chennai Super Kings
10,Mumbai,2014-05-30,NaN,NaN,734047,20,V Sehwag,NaN,2014,Chennai Super Kings,Kings XI Punjab,field,Chennai Super Kings,HDPK Dharmasena,RJ Tucker,NaN,Wankhede Stadium,24.0,NaN,Kings XI Punjab
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,Pune,2012-05-22,NaN,NaN,548378,20,YK Pathan,NaN,2012,Delhi Daredevils,Kolkata Knight Riders,bat,Kolkata Knight Riders,BR Doctrove,SJA Taufel,NaN,Subrata Roy Sahara Stadium,18.0,NaN,Kolkata Knight Riders
737,Jaipur,2010-04-11,NaN,NaN,419150,20,SR Tendulkar,NaN,2010,Rajasthan Royals,Mumbai Indians,field,Rajasthan Royals,BR Doctrove,SK Tarapore,NaN,Sawai Mansingh Stadium,37.0,NaN,Mumbai Indians
740,Kolkata,2016-05-22,NaN,NaN,981009,20,YK Pathan,NaN,2016,Kolkata Knight Riders,Sunrisers Hyderabad,field,Sunrisers Hyderabad,KN Ananthapadmanabhan,M Erasmus,NaN,Eden Gardens,22.0,NaN,Kolkata Knight Riders
742,East London,2009-05-04,NaN,NaN,392209,20,MS Dhoni,NaN,2009,Chennai Super Kings,Deccan Chargers,bat,Chennai Super Kings,BR Doctrove,M Erasmus,NaN,Buffalo Park,78.0,NaN,Chennai Super Kings
745,Bangalore,2010-04-17,NaN,NaN,419157,20,R McLaren,NaN,2010,Royal Challengers Bangalore,Mumbai Indians,field,Royal Challengers Bangalore,HDPK Dharmasena,SJA Taufel,NaN,M Chinnaswamy Stadium,57.0,NaN,Mumbai Indians

In [55]:
df.query('win_by_runs > 10 or win_by_wickets < 2')

,city,date,dl_applied,eliminator,id,overs,player_of_match,result,season,team1,team2,toss_decision,toss_winner,umpire1,umpire2,umpire3,venue,win_by_runs,win_by_wickets,winner
1,Delhi,2010-03-29,NaN,NaN,419131,20,DA Warner,NaN,2010,Delhi Daredevils,Kolkata Knight Riders,bat,Delhi Daredevils,SS Hazare,SJA Taufel,NaN,Feroz Shah Kotla,40.0,NaN,Delhi Daredevils
3,Pune,2016-04-22,NaN,NaN,980931,20,AB de Villiers,NaN,2016,Rising Pune Supergiants,Royal Challengers Bangalore,field,Rising Pune Supergiants,CB Gaffaney,VK Sharma,NaN,Maharashtra Cricket Association Stadium,13.0,NaN,Royal Challengers Bangalore
4,Mumbai,2010-04-22,NaN,NaN,419163,20,DE Bollinger,NaN,2010,Chennai Super Kings,Deccan Chargers,bat,Chennai Super Kings,BR Doctrove,RB Tiffin,NaN,Dr DY Patil Sports Academy,38.0,NaN,Chennai Super Kings
8,Chennai,2011-05-01,NaN,NaN,501236,20,JA Morkel,NaN,2011,Chennai Super Kings,Deccan Chargers,bat,Chennai Super Kings,Aleem Dar,RB Tiffin,NaN,"MA Chidambaram Stadium, Chepauk",19.0,NaN,Chennai Super Kings
10,Mumbai,2014-05-30,NaN,NaN,734047,20,V Sehwag,NaN,2014,Chennai Super Kings,Kings XI Punjab,field,Chennai Super Kings,HDPK Dharmasena,RJ Tucker,NaN,Wankhede Stadium,24.0,NaN,Kings XI Punjab
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,Jaipur,2010-04-11,NaN,NaN,419150,20,SR Tendulkar,NaN,2010,Rajasthan Royals,Mumbai Indians,field,Rajasthan Royals,BR Doctrove,SK Tarapore,NaN,Sawai Mansingh Stadium,37.0,NaN,Mumbai Indians
740,Kolkata,2016-05-22,NaN,NaN,981009,20,YK Pathan,NaN,2016,Kolkata Knight Riders,Sunrisers Hyderabad,field,Sunrisers Hyderabad,KN Ananthapadmanabhan,M Erasmus,NaN,Eden Gardens,22.0,NaN,Kolkata Knight Riders
741,Hyderabad,2018-04-12,NaN,NaN,1136567,20,Rashid Khan,NaN,2018,Sunrisers Hyderabad,Mumbai Indians,field,Sunrisers Hyderabad,NJ Llong,CK Nandan,NaN,"Rajiv Gandhi International Stadium, Uppal",NaN,1.0,Sunrisers Hyderabad
742,East London,2009-05-04,NaN,NaN,392209,20,MS Dhoni,NaN,2009,Chennai Super Kings,Deccan Chargers,bat,Chennai Super Kings,BR Doctrove,M Erasmus,NaN,Buffalo Park,78.0,NaN,Chennai Super Kings
745,Bangalore,2010-04-17,NaN,NaN,419157,20,R McLaren,NaN,2010,Royal Challengers Bangalore,Mumbai Indians,field,Royal Challengers Bangalore,HDPK Dharmasena,SJA Taufel,NaN,M Chinnaswamy Stadium,57.0,NaN,Mumbai Indians

In [56]:
df.query('(win_by_runs > 10 or win_by_wickets < 2) and city == "Mumbai"')

,city,date,dl_applied,eliminator,id,overs,player_of_match,result,season,team1,team2,toss_decision,toss_winner,umpire1,umpire2,umpire3,venue,win_by_runs,win_by_wickets,winner
4,Mumbai,2010-04-22,NaN,NaN,419163,20,DE Bollinger,NaN,2010,Chennai Super Kings,Deccan Chargers,bat,Chennai Super Kings,BR Doctrove,RB Tiffin,NaN,Dr DY Patil Sports Academy,38.0,NaN,Chennai Super Kings
10,Mumbai,2014-05-30,NaN,NaN,734047,20,V Sehwag,NaN,2014,Chennai Super Kings,Kings XI Punjab,field,Chennai Super Kings,HDPK Dharmasena,RJ Tucker,NaN,Wankhede Stadium,24.0,NaN,Kings XI Punjab
66,Mumbai,2014-05-23,NaN,NaN,734031,20,MEK Hussey,NaN,2014,Mumbai Indians,Delhi Daredevils,field,Delhi Daredevils,S Ravi,RJ Tucker,NaN,Wankhede Stadium,15.0,NaN,Mumbai Indians
86,Mumbai,2010-04-13,NaN,NaN,419152,20,KA Pollard,NaN,2010,Mumbai Indians,Delhi Daredevils,bat,Mumbai Indians,S Asnani,DJ Harper,NaN,Brabourne Stadium,39.0,NaN,Mumbai Indians
127,Mumbai,2010-04-21,NaN,NaN,419162,20,KA Pollard,NaN,2010,Royal Challengers Bangalore,Mumbai Indians,bat,Mumbai Indians,BR Doctrove,RB Tiffin,NaN,Dr DY Patil Sports Academy,35.0,NaN,Mumbai Indians
130,Mumbai,2010-03-28,NaN,NaN,419130,20,Harbhajan Singh,NaN,2010,Deccan Chargers,Mumbai Indians,field,Deccan Chargers,S Das,K Hariharan,NaN,Dr DY Patil Sports Academy,41.0,NaN,Mumbai Indians
131,Mumbai,2010-04-25,NaN,NaN,419165,20,SK Raina,NaN,2010,Chennai Super Kings,Mumbai Indians,bat,Chennai Super Kings,RE Koertzen,SJA Taufel,NaN,Dr DY Patil Sports Academy,22.0,NaN,Chennai Super Kings
146,Mumbai,2011-05-02,NaN,NaN,501237,20,KA Pollard,NaN,2011,Mumbai Indians,Kings XI Punjab,field,Kings XI Punjab,HDPK Dharmasena,PR Reiffel,NaN,Wankhede Stadium,23.0,NaN,Mumbai Indians
151,Mumbai,2010-03-12,NaN,NaN,419106,20,AD Mathews,NaN,2010,Deccan Chargers,Kolkata Knight Riders,field,Deccan Chargers,RE Koertzen,RB Tiffin,NaN,Dr DY Patil Sports Academy,11.0,NaN,Kolkata Knight Riders
171,Mumbai,2008-05-04,NaN,NaN,336004,20,SM Pollock,NaN,2008,Mumbai Indians,Delhi Daredevils,field,Delhi Daredevils,IL Howell,RE Koertzen,NaN,Dr DY Patil Sports Academy,29.0,NaN,Mumbai Indians
185,Mumbai,2011-05-07,NaN,NaN,501246,20,AT Rayudu,NaN,2011,Mumbai Indians,Delhi Daredevils,field,Delhi Daredevils,K Hariharan,SJA Taufel,NaN,Wankhede Stadium,32.0,NaN,Mumbai Indians
190,Mumbai,2011-05-04,NaN,NaN,501241,20,R Sharma,NaN,2011,Pune Warriors,Mumbai Indians,field,Pune Warriors,HDPK Dharmasena,SJA Taufel,NaN,Dr DY Patil Sports Academy,21.0,NaN,Mumbai Indians
191,Mumbai,2015-05-03,NaN,NaN,829777,20,AM Rahane,NaN,2015,Rajasthan Royals,Delhi Daredevils,field,Delhi Daredevils,HDPK Dharmasena,CB Gaffaney,NaN,Brabourne Stadium,14.0,NaN,Rajasthan Royals
197,Mumbai,2018-04-24,NaN,NaN,1136583,20,Rashid Khan,NaN,2018,Mumbai Indians,Sunrisers Hyderabad,field,Mumbai Indians,C Shamshuddin,S Ravi,NaN,Wankhede Stadium,31.0,NaN,Sunrisers Hyderabad
215,Mumbai,2013-05-07,NaN,NaN,598050,20,SR Tendulkar,NaN,2013,Mumbai Indians,Kolkata Knight Riders,bat,Mumbai Indians,HDPK Dharmasena,S Ravi,NaN,Wankhede Stadium,65.0,NaN,Mumbai Indians
272,Mumbai,2008-05-30,NaN,NaN,336038,20,SR Watson,NaN,2008,Delhi Daredevils,Rajasthan Royals,field,Delhi Daredevils,BF Bowden,RE Koertzen,NaN,Wankhede Stadium,105.0,NaN,Rajasthan Royals
287,Mumbai,2013-04-27,NaN,NaN,598033,20,DR Smith,NaN,2013,Mumbai Indians,Royal Challengers Bangalore,bat,Mumbai Indians,Asad Rauf,S Asnani,NaN,Wankhede Stadium,58.0,NaN,Mumbai Indians
290,Mumbai,2018-05-06,NaN,NaN,1136597,20,HH Pandya,NaN,2018,Mumbai Indians,Kolkata Knight Riders,field,Kolkata Knight Riders,HDPK Dharmasena,A Deshmukh,NaN,Wankhede Stadium,13.0,NaN,Mumbai Indians
302,Mumbai,2013-04-13,NaN,NaN,598011,20,RG Sharma,NaN,2013,Mumbai Indians,Pune Warriors,bat,Mumbai Indians,S Ravi,SJA Taufel,NaN,Wankhede Stadium,41.0,NaN,Mumbai Indians
305,Mumbai,2012-05-16,NaN,NaN,548370,20,SP Narine,NaN,2012,Mumbai Indians,Kolkata Knight Riders,field,Mumbai Indians,S Das,BR Doctrove,NaN,Wankhede Stadium,32.0,NaN,Kolkata Knight Riders
325,Mumbai,2014-05-06,NaN,NaN,733983,20,RG Sharma,NaN,2014,Mumbai Indians,Royal Challengers Bangalore,field,Royal Challengers Bangalore,S Ravi,K Srinath,NaN,Wankhede Stadium,19.0,NaN,Mumbai Indians
388,Mumbai,2013-05-05,NaN,NaN,598046,20,MG Johnson,NaN,2013,Mumbai Indians,Chennai Super Kings,bat,Mumbai Indians,HDPK Dharmasena,CK Nandan,NaN,Wankhede Stadium,60.0,NaN,Mumbai Indians
412,Mumbai,2013-04-09,NaN,NaN,598006,20,KD Karthik,NaN,2013,Mumbai Indians,Delhi Daredevils,bat,Mumbai Indians,M Erasmus,VA Kulkarni,NaN,Wankhede Stadium,44.0,NaN,Mumbai Indians
495,Mumbai,2015-05-10,NaN,NaN,829795,20,AB de Villiers,NaN,2015,Mumbai Indians,Royal Challengers Bangalore,bat,Royal Challengers Bangalore,JD Cloete,C Shamshuddin,NaN,Wankhede Stadium,39.0,NaN,Royal Challengers Bangalore
506,Mumbai,2019-04-03,NaN,NaN,1175370,20,HH Pandya,NaN,2019,Mumbai Indians,Chennai Super Kings,field,Chennai Super Kings,RJ Tucker,BNJ Oxenford,NaN,Wankhede Stadium,37.0,NaN,Mumbai Indians
526,Mumbai,2012-04-11,NaN,NaN,548317,20,KA Pollard,NaN,2012,Mumbai Indians,Rajasthan Royals,field,Rajasthan Royals,Aleem Dar,BNJ Oxenford,NaN,Wankhede Stadium,27.0,NaN,Mumbai Indians
535,Mumbai,2010-04-03,NaN,NaN,419138,20,AT Rayudu,NaN,2010,Mumbai Indians,Deccan Chargers,bat,Mumbai Indians,BR Doctrove,S Ravi,NaN,Brabourne Stadium,63.0,NaN,Mumbai Indians
543,Mumbai,2013-05-15,NaN,NaN,598063,20,AP Tare,NaN,2013,Mumbai Indians,Rajasthan Royals,field,Rajasthan Royals,Asad Rauf,S Asnani,NaN,Wankhede Stadium,14.0,NaN,Mumbai Indians
562,Mumbai,2012-04-06,NaN,NaN,548308,20,SPD Smith,NaN,2012,Mumbai Indians,Pune Warriors,field,Mumbai Indians,AK Chaudhary,SJA Taufel,NaN,Wankhede Stadium,28.0,NaN,Pune Warriors
578,Mumbai,2017-05-16,NaN,NaN,1082647,20,Washington Sundar,NaN,2017,Mumbai Indians,Rising Pune Supergiant,field,Mumbai Indians,S Ravi,C Shamshuddin,NaN,Wankhede Stadium,20.0,NaN,Rising Pune Supergiant
582,Mumbai,2015-04-25,NaN,NaN,829751,20,SL Malinga,NaN,2015,Mumbai Indians,Sunrisers Hyderabad,bat,Mumbai Indians,HDPK Dharmasena,CB Gaffaney,NaN,Wankhede Stadium,20.0,NaN,Mumbai Indians
620,Mumbai,2018-04-07,NaN,NaN,1136561,20,DJ Bravo,NaN,2018,Mumbai Indians,Chennai Super Kings,field,Chennai Super Kings,CB Gaffaney,A Nand Kishore,NaN,Wankhede Stadium,NaN,1.0,Chennai Super Kings
634,Mumbai,2018-04-17,NaN,NaN,1136574,20,RG Sharma,NaN,2018,Mumbai Indians,Royal Challengers Bangalore,field,Royal Challengers Bangalore,RJ Tucker,Nitin Menon,NaN,Wankhede Stadium,46.0,NaN,Mumbai Indians
648,Mumbai,2017-04-22,NaN,NaN,1082614,20,MJ McClenaghan,NaN,2017,Mumbai Indians,Delhi Daredevils,field,Delhi Daredevils,A Nand Kishore,S Ravi,NaN,Wankhede Stadium,14.0,NaN,Mumbai Indians
672,Mumbai,2015-04-12,NaN,NaN,829717,20,GJ Bailey,NaN,2015,Mumbai Indians,Kings XI Punjab,field,Mumbai Indians,AK Chaudhary,K Srinivasan,NaN,Wankhede Stadium,18.0,NaN,Kings XI Punjab
686,Mumbai,2019-03-24,NaN,NaN,1175358,20,RR Pant,NaN,2019,Mumbai Indians,Delhi Capitals,field,Mumbai Indians,YC Barde,S Ravi,NaN,Wankhede Stadium,37.0,NaN,Delhi Capitals
705,Mumbai,2015-05-19,NaN,NaN,829817,20,KA Pollard,NaN,2015,Chennai Super Kings,Mumbai Indians,bat,Mumbai Indians,HDPK Dharmasena,RK Illingworth,NaN,Wankhede Stadium,25.0,NaN,Mumbai Indians

## Do it yourself
Write the following using both query and filtering which feels good and easy?
(City is Mumbai and toss_decision is field) or `win_by_runs > 40`. What are max value of `win_by_runs`

In [63]:
df[((df['city'] == 'Mumbai') & (df['toss_decision'] == 'field')) | (df['win_by_runs'] > 40)]
df.query('(city == "Mumbai" and toss_decision == "field") or win_by_runs > 40')

,city,date,dl_applied,eliminator,id,overs,player_of_match,result,season,team1,team2,toss_decision,toss_winner,umpire1,umpire2,umpire3,venue,win_by_runs,win_by_wickets,winner
2,Mumbai,2008-05-16,NaN,NaN,336021,20,SM Pollock,NaN,2008,Mumbai Indians,Kolkata Knight Riders,field,Mumbai Indians,BR Doctrove,DJ Harper,NaN,Wankhede Stadium,NaN,8.0,Mumbai Indians
10,Mumbai,2014-05-30,NaN,NaN,734047,20,V Sehwag,NaN,2014,Chennai Super Kings,Kings XI Punjab,field,Chennai Super Kings,HDPK Dharmasena,RJ Tucker,NaN,Wankhede Stadium,24.0,NaN,Kings XI Punjab
16,Dharamsala,2011-05-21,NaN,NaN,501264,20,S Dhawan,NaN,2011,Kings XI Punjab,Deccan Chargers,field,Kings XI Punjab,Asad Rauf,AM Saheba,NaN,Himachal Pradesh Cricket Association Stadium,82.0,NaN,Deccan Chargers
27,Kolkata,2015-05-24,NaN,NaN,829823,20,RG Sharma,NaN,2015,Mumbai Indians,Chennai Super Kings,field,Chennai Super Kings,HDPK Dharmasena,RK Illingworth,NaN,Eden Gardens,41.0,NaN,Mumbai Indians
35,Chandigarh,2008-04-25,NaN,NaN,335991,20,KC Sangakkara,NaN,2008,Kings XI Punjab,Mumbai Indians,field,Mumbai Indians,Aleem Dar,AM Saheba,NaN,"Punjab Cricket Association Stadium, Mohali",66.0,NaN,Kings XI Punjab
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
723,Jaipur,2013-04-17,NaN,NaN,598019,20,AM Rahane,NaN,2013,Rajasthan Royals,Mumbai Indians,bat,Rajasthan Royals,Aleem Dar,C Shamshuddin,NaN,Sawai Mansingh Stadium,87.0,NaN,Rajasthan Royals
734,Mumbai,2008-06-01,NaN,NaN,336040,20,YK Pathan,NaN,2008,Chennai Super Kings,Rajasthan Royals,field,Rajasthan Royals,BF Bowden,RE Koertzen,NaN,Dr DY Patil Sports Academy,NaN,3.0,Rajasthan Royals
735,Mumbai,2015-05-14,NaN,NaN,829805,20,HH Pandya,NaN,2015,Mumbai Indians,Kolkata Knight Riders,field,Kolkata Knight Riders,RK Illingworth,VA Kulkarni,NaN,Wankhede Stadium,5.0,NaN,Mumbai Indians
742,East London,2009-05-04,NaN,NaN,392209,20,MS Dhoni,NaN,2009,Chennai Super Kings,Deccan Chargers,bat,Chennai Super Kings,BR Doctrove,M Erasmus,NaN,Buffalo Park,78.0,NaN,Chennai Super Kings
745,Bangalore,2010-04-17,NaN,NaN,419157,20,R McLaren,NaN,2010,Royal Challengers Bangalore,Mumbai Indians,field,Royal Challengers Bangalore,HDPK Dharmasena,SJA Taufel,NaN,M Chinnaswamy Stadium,57.0,NaN,Mumbai Indians

(City is Mumbai or season is 2019) and (win_by_runs > 50 or win_by_wickets < 3)
How many rows are there in the output?

In [71]:
df.query('(city == "Mumbai" and season == 2019) and (win_by_runs > 50 or win_by_wickets < 3)').shape
# zero rows

(0, 20)

## Group by

In [72]:
df.win_by_runs.max()

146.0

## Little more complex

I want max of win by runs for each season
```
For each season!
  filter season get max
```

In [73]:
for season in df.season.unique():
    print(df[df.season == season].win_by_runs.max(), season)

98.0 2010
140.0 2008
144.0 2016
111.0 2011
93.0 2014
146.0 2017
138.0 2015
86.0 2012
92.0 2009
118.0 2019
130.0 2013
102.0 2018

## Well never do it!

Golden rule of thumb: If you are using for loop with pandas you are definetly doing it wrong

## How to do it?

`group_by` operation

In [74]:
df.groupby('season').win_by_runs.max()

season
2008    140.0
2009     92.0
2010     98.0
2011    111.0
2012     86.0
2013    130.0
2014     93.0
2015    138.0
2016    144.0
2017    146.0
2018    102.0
2019    118.0
Name: win_by_runs, dtype: float64

In [75]:
df.groupby('season').win_by_runs.describe()

        count       mean        std  min    25%   50%    75%    max
season
2008     24.0  29.375000  34.291351  1.0   8.25  16.0  35.00  140.0
2009     27.0  28.296296  28.894789  1.0  10.00  16.0  32.50   92.0
2010     31.0  31.483871  20.990269  2.0  15.50  31.0  39.00   98.0
2011     33.0  33.272727  26.081929  2.0  17.00  25.0  43.00  111.0
2012     34.0  28.235294  19.645431  1.0  14.25  26.0  37.75   86.0
2013     37.0  33.540541  28.657551  2.0  14.00  24.0  48.00  130.0
2014     22.0  29.272727  22.416367  2.0  15.25  24.5  33.50   93.0
2015     32.0  26.562500  28.598373  1.0   8.75  20.0  29.00  138.0
2016     21.0  32.190476  36.347791  1.0   9.00  22.0  34.00  144.0
2017     26.0  30.307692  33.638988  1.0  10.50  18.0  33.00  146.0
2018     28.0  24.107143  23.850366  3.0  10.75  14.0  31.00  102.0
2019     21.0  31.619048  27.050834  1.0  14.00  28.0  40.00  118.0

It is doing what your for loop was doing but more effiently

## Try it yourself

For rows 80 to 300 what is the least win_by_wickets for each city

In [76]:
df.iloc[80:300,]
df.iloc[80:300].groupby('city').win_by_wickets.min()

city
Abu Dhabi         6.0
Ahmedabad         NaN
Bangalore         4.0
Bengaluru         4.0
Cape Town         NaN
Centurion         6.0
Chandigarh        5.0
Chennai           5.0
Cuttack           9.0
Delhi             3.0
Dharamsala        6.0
Durban            2.0
East London       7.0
Hyderabad         3.0
Indore            6.0
Jaipur            4.0
Johannesburg      NaN
Kanpur            6.0
Kochi             6.0
Kolkata           3.0
Mumbai            2.0
Nagpur            NaN
Port Elizabeth    6.0
Pune              5.0
Raipur            6.0
Rajkot            6.0
Ranchi            5.0
Visakhapatnam     7.0
Name: win_by_wickets, dtype: float64

For all matches in Mumbai what are the maximum number or runs per season?

In [79]:
df.query('city == "Mumbai"').groupby('season').win_by_runs.max()
df[df['city'] == "Mumbai"].groupby('season').win_by_runs.max()

season
2008    105.0
2010     63.0
2011     32.0
2012     32.0
2013     65.0
2014     24.0
2015     39.0
2016      NaN
2017     20.0
2018     46.0
2019     37.0
Name: win_by_runs, dtype: float64

## Multiple groupby

What if I want max number of runs per season per toss_decsion?

In [80]:
(
    df
    .groupby(['toss_decision', 'season'])
    .win_by_runs
    .max()
    # .reset_index()
)

toss_decision  season
bat            2008       45.0
               2009       92.0
               2010       67.0
               2011      111.0
               2012       59.0
               2013       87.0
               2014       93.0
               2015       97.0
               2016        8.0
               2017       51.0
               2018       30.0
               2019       40.0
field          2008      140.0
               2009       78.0
               2010       98.0
               2011       85.0
               2012       86.0
               2013      130.0
               2014       72.0
               2015      138.0
               2016      144.0
               2017      146.0
               2018      102.0
               2019      118.0
Name: win_by_runs, dtype: float64

In [83]:
(
    df
    [["win_by_runs", "win_by_wickets", 'toss_decision', 'season']]
    .groupby(['toss_decision', 'season'])
    .agg(['min', 'max'])
    # .reset_index()
)

                            date                   id          overs      \
                             min         max      min      max   min max
toss_decision season
bat           2008    2008-04-19  2008-05-31   335983   336039    20  20
              2009    2009-04-18  2009-05-21   392182   392236    20  20
              2010    2010-03-13  2010-04-25   419107   419165    20  20
              2011    2011-04-08  2011-05-28   501198   501271    20  20
              2012    2012-04-08  2012-05-27   548313   548381    20  20
              2013    2013-04-06  2013-05-26   598001   598073    20  20
              2014    2014-04-16  2014-05-20   729279   734021    20  20
              2015    2015-04-11  2015-05-20   829711   829819    20  20
              2016    2016-04-09  2016-05-29   980901   981019    20  20
              2017    2017-04-08  2017-05-21  1082595  1082650    20  20
              2018    2018-04-19  2018-05-20  1136576  1136615    20  20
              2019    2019-03-26  2019-04-28  1175360  1178421    20  20
field         2008    2008-04-18  2008-06-01   335982   336040    20  20
              2009    2009-04-18  2009-05-24   392181   392239    20  20
              2010    2010-03-12  2010-04-18   419106   419159    20  20
              2011    2011-04-09  2011-05-27   501199   501270    20  20
              2012    2012-04-04  2012-05-25   548306   548380    20  20
              2013    2013-04-03  2013-05-18   597998   598068    20  20
              2014    2014-04-17  2014-06-01   729281   734049    20  20
              2015    2015-04-08  2015-05-24   829705   829823    20  20
              2016    2016-04-10  2016-05-27   980903   981017    20  20
              2017    2017-04-05  2017-05-19  1082591  1082649    20  20
              2018    2018-04-07  2018-05-27  1136561  1136620    20  20
              2019    2019-03-23  2019-05-01  1175356  1178425    20  20

                                    team1                               \
                                      min                          max
toss_decision season
bat           2008    Chennai Super Kings  Royal Challengers Bangalore
              2009    Chennai Super Kings  Royal Challengers Bangalore
              2010    Chennai Super Kings  Royal Challengers Bangalore
              2011    Chennai Super Kings  Royal Challengers Bangalore
              2012    Chennai Super Kings  Royal Challengers Bangalore
              2013    Chennai Super Kings          Sunrisers Hyderabad
              2014    Chennai Super Kings          Sunrisers Hyderabad
              2015    Chennai Super Kings          Sunrisers Hyderabad
              2016          Gujarat Lions          Sunrisers Hyderabad
              2017       Delhi Daredevils          Sunrisers Hyderabad
              2018       Delhi Daredevils          Sunrisers Hyderabad
              2019    Chennai Super Kings          Sunrisers Hyderabad
field         2008    Chennai Super Kings  Royal Challengers Bangalore
              2009    Chennai Super Kings  Royal Challengers Bangalore
              2010    Chennai Super Kings  Royal Challengers Bangalore
              2011    Chennai Super Kings  Royal Challengers Bangalore
              2012    Chennai Super Kings  Royal Challengers Bangalore
              2013    Chennai Super Kings          Sunrisers Hyderabad
              2014    Chennai Super Kings          Sunrisers Hyderabad
              2015    Chennai Super Kings          Sunrisers Hyderabad
              2016       Delhi Daredevils          Sunrisers Hyderabad
              2017       Delhi Daredevils          Sunrisers Hyderabad
              2018    Chennai Super Kings          Sunrisers Hyderabad
              2019    Chennai Super Kings          Sunrisers Hyderabad

                                    team2                               \
                                      min                          max
toss_decision season
bat           2008    Chennai Super Kings  Royal Challengers Bangalore
              2009    Chennai Super Kings             Rajasthan Royals
              2010    Chennai Super Kings  Royal Challengers Bangalore
              2011    Chennai Super Kings  Royal Challengers Bangalore
              2012    Chennai Super Kings  Royal Challengers Bangalore
              2013    Chennai Super Kings          Sunrisers Hyderabad
              2014    Chennai Super Kings  Royal Challengers Bangalore
              2015    Chennai Super Kings          Sunrisers Hyderabad
              2016        Kings XI Punjab          Sunrisers Hyderabad
              2017       Delhi Daredevils  Royal Challengers Bangalore
              2018    Chennai Super Kings          Sunrisers Hyderabad
              2019    Chennai Super Kings  Royal Challengers Bangalore
field         2008    Chennai Super Kings  Royal Challengers Bangalore
              2009    Chennai Super Kings             Rajasthan Royals
              2010    Chennai Super Kings  Royal Challengers Bangalore
              2011    Chennai Super Kings  Royal Challengers Bangalore
              2012    Chennai Super Kings  Royal Challengers Bangalore
              2013    Chennai Super Kings          Sunrisers Hyderabad
              2014    Chennai Super Kings          Sunrisers Hyderabad
              2015    Chennai Super Kings          Sunrisers Hyderabad
              2016       Delhi Daredevils          Sunrisers Hyderabad
              2017       Delhi Daredevils          Sunrisers Hyderabad
              2018    Chennai Super Kings          Sunrisers Hyderabad
              2019    Chennai Super Kings          Sunrisers Hyderabad

                              toss_winner                               \
                                      min                          max
toss_decision season
bat           2008    Chennai Super Kings  Royal Challengers Bangalore
              2009    Chennai Super Kings  Royal Challengers Bangalore
              2010    Chennai Super Kings  Royal Challengers Bangalore
              2011    Chennai Super Kings             Rajasthan Royals
              2012    Chennai Super Kings  Royal Challengers Bangalore
              2013    Chennai Super Kings          Sunrisers Hyderabad
              2014    Chennai Super Kings          Sunrisers Hyderabad
              2015    Chennai Super Kings          Sunrisers Hyderabad
              2016        Kings XI Punjab          Sunrisers Hyderabad
              2017       Delhi Daredevils          Sunrisers Hyderabad
              2018    Chennai Super Kings          Sunrisers Hyderabad
              2019    Chennai Super Kings             Rajasthan Royals
field         2008    Chennai Super Kings  Royal Challengers Bangalore
              2009    Chennai Super Kings  Royal Challengers Bangalore
              2010    Chennai Super Kings  Royal Challengers Bangalore
              2011    Chennai Super Kings  Royal Challengers Bangalore
              2012    Chennai Super Kings  Royal Challengers Bangalore
              2013    Chennai Super Kings          Sunrisers Hyderabad
              2014    Chennai Super Kings          Sunrisers Hyderabad
              2015    Chennai Super Kings          Sunrisers Hyderabad
              2016       Delhi Daredevils          Sunrisers Hyderabad
              2017       Delhi Daredevils          Sunrisers Hyderabad
              2018    Chennai Super Kings          Sunrisers Hyderabad
              2019    Chennai Super Kings          Sunrisers Hyderabad

                                                                  venue  \
                                                                    min
toss_decision season
bat           2008                                         Eden Gardens
              2009                                         Buffalo Park
              2010                                     Barabati Stadium
              2011                           Dr DY Patil Sports Academy
              2012                                     Barabati Stadium
              2013                                         Eden Gardens
              2014                  Dubai International Cricket Stadium
              2015                                    Brabourne Stadium
              2016    Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...
              2017                                     Feroz Shah Kotla
              2018                                     Feroz Shah Kotla
              2019                                     Feroz Shah Kotla
field         2008                           Dr DY Patil Sports Academy
              2009                                De Beers Diamond Oval
              2010                                     Barabati Stadium
              2011                           Dr DY Patil Sports Academy
              2012                                     Barabati Stadium
              2013                                         Eden Gardens
              2014                                     Barabati Stadium
              2015                                    Brabourne Stadium
              2016    Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...
              2017                                         Eden Gardens
              2018                                         Eden Gardens
              2019                                         Eden Gardens

                                                                    \
                                                               max
toss_decision season
bat           2008                                Wankhede Stadium
              2009                                 SuperSport Park
              2010    Vidarbha Cricket Association Stadium, Jamtha
              2011                                Wankhede Stadium
              2012                                Wankhede Stadium
              2013                                Wankhede Stadium
              2014                                Wankhede Stadium
              2015                                Wankhede Stadium
              2016                                Wankhede Stadium
              2017                                Wankhede Stadium
              2018                          Sawai Mansingh Stadium
              2019       Rajiv Gandhi International Stadium, Uppal
field         2008                                Wankhede Stadium
              2009                                 SuperSport Park
              2010    Vidarbha Cricket Association Stadium, Jamtha
              2011                                Wankhede Stadium
              2012                                Wankhede Stadium
              2013                                Wankhede Stadium
              2014                                Wankhede Stadium
              2015                                Wankhede Stadium
              2016                                Wankhede Stadium
              2017                                Wankhede Stadium
              2018                                Wankhede Stadium
              2019                                Wankhede Stadium

                     win_by_runs        win_by_wickets
                             min    max            min   max
toss_decision season
bat           2008           3.0   45.0            3.0   9.0
              2009           2.0   92.0            2.0   9.0
              2010           2.0   67.0            5.0   9.0
              2011           2.0  111.0            4.0  10.0
              2012           1.0   59.0            4.0  10.0
              2013           4.0   87.0            3.0   9.0
              2014           4.0   93.0            4.0   8.0
              2015           4.0   97.0            1.0   9.0
              2016           4.0    8.0            4.0   9.0
              2017           1.0   51.0            4.0   8.0
              2018          11.0   30.0            3.0   9.0
              2019          16.0   40.0            5.0   6.0
field         2008           1.0  140.0            3.0  10.0
              2009           1.0   78.0            3.0  10.0
              2010           6.0   98.0            4.0  10.0
              2011           6.0   85.0            3.0   9.0
              2012           2.0   86.0            2.0   9.0
              2013           2.0  130.0            4.0  10.0
              2014           2.0   72.0            3.0   9.0
              2015           1.0  138.0            3.0  10.0
              2016           1.0  144.0            2.0  10.0
              2017           3.0  146.0            2.0  10.0
              2018           3.0  102.0            1.0  10.0
              2019           1.0  118.0            3.0   9.0

### Your turn

1) Group by  toss_decision, season, city to get max and min for all

2) Then get the last 20 rows of the output

In [90]:
df[['win_by_wickets', 'win_by_runs', 'toss_decision', 'season', 'city']].groupby(['toss_decision', 'season', 'city']).agg(['min', 'max']).tail(20)

                                win_by_wickets       win_by_runs
                                           min   max         min    max
toss_decision season city
field         2017   Pune                  5.0   9.0        61.0   97.0
                     Rajkot                7.0  10.0        21.0   26.0
              2018   Bengaluru             4.0   6.0        14.0   19.0
                     Chandigarh            6.0   6.0         4.0    4.0
                     Chennai               5.0   5.0         NaN    NaN
                     Delhi                 5.0   5.0         4.0   55.0
                     Hyderabad             1.0   9.0         4.0   13.0
                     Indore                6.0  10.0        31.0   31.0
                     Jaipur                7.0   7.0        10.0   10.0
                     Kolkata               4.0   9.0        14.0  102.0
                     Mumbai                1.0   8.0         3.0   46.0
                     Pune                  5.0   8.0        13.0   64.0
              2019   Bengaluru             4.0   5.0         1.0   17.0
                     Chandigarh            6.0   8.0        12.0   14.0
                     Chennai               6.0   7.0         8.0   80.0
                     Delhi                 5.0   5.0         NaN    NaN
                     Hyderabad             9.0   9.0        39.0  118.0
                     Jaipur                4.0   8.0        14.0   14.0
                     Kolkata               3.0   7.0        10.0   34.0
                     Mumbai                3.0   5.0        37.0   37.0

How many matches did each team win per year

In [95]:
df[['win_by_runs', 'win_by_wickets', 'winner', 'season']].groupby(['winner', 'season']).count()

                            win_by_runs  win_by_wickets
winner              season
Chennai Super Kings 2008              5               4
                    2009              6               2
                    2010              5               4
                    2011              8               3
                    2012              5               5
...                                 ...             ...
Sunrisers Hyderabad 2015              6               1
                    2016              5               6
                    2017              5               3
                    2018              5               5
                    2019              2               4

[100 rows x 2 columns]

# Data Visualisation

Histograms!

In [96]:
import plotly.express as px
fig = px.histogram(df, x="winner")
fig.show()

In [97]:
import plotly.express as px
fig = px.histogram(df, x="win_by_wickets")
fig.show()

# Try it yourself

Plot a histogram for city

In [99]:
import plotly.express as px
fig = px.histogram(df, x = 'city')
fig.show()

Plot a histogram for `win_by_runs`. Why is it different from `win_by_overs`?

In [100]:
import plotly.express as px
fig = px.histogram(df, x = 'win_by_runs')
fig.show()

You also have `plotly.line()` which does a line plot

In [101]:
px.line(x=[1,2,3,4], y=[4,5,6,-1])

## Putting all pieces together :)

What are matches won by teams per season look like

In [102]:
small_list = ['Sunrisers Hyderabad', 'Chennai Super Kings', 'Deccan Chargers']
win_summary_df = (
    df.groupby(["winner", "season"])
    .id
    .count()
    .reset_index()
    .rename(columns = {'id':'matches_won'})
    .query("winner in @small_list")
)
fig = px.line(win_summary_df, x="season", y="matches_won", color="winner", title='Matches Won', text='season')
fig.show()

# Congrats on completing the workshop :)


Please leave a feedback https://docs.google.com/forms/d/e/1FAIpQLSc8Rcl_vrq3ygnUKULbdkqm-FNlTSJT-FIUui9sJSX5pAQ4SQ/viewform?usp=sf_link